@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --orange:#2e21dcd5;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
  overflow-x: hidden;

}


html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  line-height: 1.5;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  padding:2.5rem 0
}

.heading span{
  font-size: 3.5rem;
  background:rgb(228, 226, 235);
  color:var(--orange);
  border-radius: .5rem;
  padding:.2rem 1rem;
}

.heading span.space{
  background:#000;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--orange);
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background:rgba(255, 165, 0,.2);
  color:var(--orange);
}


header{
  position: fixed;
  top:0; left: 0; right:0;
  background:#333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#fff;
  text-transform: uppercase;
}

header .logo span{
  color:var(--orange);
}

header .navbar a{
  z-index: 1;
  color:#fff;
  font-size: 2rem;
  margin:0 .8rem;
}

header .navbar a:hover{
  color:var(--orange);
}

header .icons i{
  font-size: 2.5rem;
  color:#fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover{
  color:var(--orange);
}

#menu-bar{
  color:#fff;
  border:.1rem solid #fff;
  border-radius: .5rem;
  font-size: 3rem;
  padding:.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

.home{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(54, 26, 183, 0.408),rgba(54,26,183,0.408));
  position: relative;
  font-size: 30px;
  padding: 0 8.5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  line-height: 1.6;
}

.home .content{
  text-align: left;
}

.home .content h1{
  font-size: 4.5rem;
  color:#fff;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p{
  font-size: 30px;
  color:#fff;
  padding:.5rem 0;
}

.home .video-container video{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
}

.home .controls{
  padding:1rem;
  border-radius: 5rem;
  background:rgba(0,0,0,.7);
  position: relative;
  top:10rem;
}

.home .controls .vid-btn{
  height:2rem;
  width:2rem;
  display: inline-block;
  border-radius: 50%;
  background:#fff;
  cursor: pointer;
  margin:0 .5rem;
}
.cls{
  width: 20%;
  height: 20%;
  
}

.home .controls .vid-btn.active{
  background:var(--orange);
}


.pro .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.pro .box-container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  padding:1rem;
  text-align: center;
}

.pro .box-container .box i{
  padding:1rem;
  font-size: 5rem;
  color:var(--orange);
}

.pro .box-container .box h2{
  font-size: 2.5rem;
  color:#333;
}

.pro .box-container .box h3{
  font-size: 1.5rem;
  color:#666;
  padding:1rem 0;
}

.pro .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(127, 129, 237, 0.889);
}
/* peojects start */

.bot{
  margin: 0px;
  padding: 5px;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.flip-card {
  margin-top: 5px;
  flex-wrap: wrap;
  margin: 10px;
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  perspective: 2000px;
  overflow: hidden;
  border-radius: 30px;
}

.flip-card-front,
.flip-card-back {
  width: 380px;
  min-height: 550px;
  height: auto;
  background-color: #000000;
  background-image:  url(images/g-1.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.flip-card:nth-of-type(2) .flip-card-front,
.flip-card:nth-of-type(2) .flip-card-back {
  background-image: url(images/g-2.jpg);
}

.flip-card:nth-of-type(3) .flip-card-front,
.flip-card:nth-of-type(3) .flip-card-back {
  background-image: url(images/g-3.jpg);
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  align-items: center;
  background:var(--orange);
  
  color:#fff;
  padding:.5rem 3rem;
  border:.3rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background:rgba(255, 165, 0,.2);
  color:var(--orange);
}

.flip-card-front {
  transform: rotateY(0deg);
}

.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

.flip-card-front::after,
.flip-card-back::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.flip-card-front .inner,
.flip-card-back .inner {
  width: 100%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  z-index: 2;
}

.inner .icon {
  width: 80px;
  margin-bottom: 20px;
}

.inner h3 {
  margin-bottom: 8px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  overflow: hidden;
  text-transform: capitalize;
}

.inner p {
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  overflow: hidden;
}

.flip-card:hover .flip-card-front {
  transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-back {
  transform: rotateY(0deg);
}


/* contactinfo */

.bottle::before {  
  border-color: #000;
  content: '';  
  position: absolute;  
  top: 0;  
  left: 0;  
  width: 100%;  
  height: 100%;  
  clip-path: circle(30% at right 70%);  
}  
.bottle::after {  
  content: '';  
  border-color: #000;
  position: absolute;  
  top: 0;  
  left: 0;  
  width: 100%;  
  height: 100%;  
  clip-path: circle(20% at 10% 10%);  
}  
.container {  
  position: relative;  
  z-index: 1;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  flex-wrap: wrap;  
  margin: 40px 0;  
  justify-content: center;  
}  
.container .card {  

  position: relative;  
  width: 300px;  
  height: 400px;  
  background: rgba(255, 255, 255, 0.05);  
  margin: 20px;  
  border-radius: 15px;  
  display: flex;  
  justify-content: center;  
  align-items: center;  

}  
.container .card .content {  
  position: relative;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  flex-direction: column;  
  transition: 0.5s;  
}  
.container .card:hover .content {  
  transform: translateY(-20px);  
}  
.container .card .content .imgBx {  
  position: relative;  
  width: 100px;  
  height: 100px;  
  overflow: hidden;  
  justify-content: center;  
}  
.container .card .content .imgBx i {  
  justify-content: center;  
  font-size: 28px;
  background: var(--orange);;
  width: 91px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  background: none;
  color: var(--orange);
  transform: scale(1.6);
  overflow: hidden; 
}  
.container .card .content .contentBx h3 {  
  color: black;  
  list-style: none; 
  letter-spacing: 2px;  
  font-weight: 500;  
  font-size: 18px;  
  text-align: center;  
  margin: 20px 0 10px;  
  line-height: 2em;  
  text-transform: initial;  
  overflow: hidden; 
}  
 
.container .card .sci {  
  position: absolute;  
  bottom: 50px;  
  display: flex;  
  overflow: hidden; 
}  
.container .card .sci li {  
  list-style: none;  
  margin: 0 10px;  
  transform: translateY(40px);  
  transition: 0.5s;  
  opacity: 0;  
}  
.container .card:hover .sci li {  
  transform: translateY(0px);  
  opacity: 1;  
}  
.container .card .sci li h3 {  
  color: var(--orange);   
  list-style: none;  
  font-size: 15px;  
  font-weight: 50px;  
  text-transform: initial;  
  text-align: center;
}  
.bottle .container .card:hover{
  box-shadow: 0 1rem 2rem rgba(127, 129, 237, 0.889);
}
 



.footer{
  background:rgb(0, 0, 0);
  align-items: center;
  flex-wrap: wrap;
}

.footer .box-container .box a:hover{
  color:#fff;
  text-decoration: underline;
}

.footer .footer-content{
  align-items: center;
  padding:2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color:#fff;
  border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
  color:#fff;
  align-items: center;
}
.footer-content{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
}
.footer-content h1{

  align-items: left;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.footer-content .socials{
  flex-wrap: wrap;
  margin: 40px 0px;
  position: relative;
  display: flex;
}
.footer-content .socials li{
  list-style: none;
}
.footer-content .socials li a{
  font-size: 3rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.footer-content .socials ul li a:hover {
  transform:translateY(-10);
}




/* media queries  */

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    display: flex;
    position: absolute;
    margin-right: 10%;
    top:100%; right:0; left: 0;
    background: #333;
    border-top: .1rem solid rgba(255,255,255,.2);
    padding:1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding:1.5rem;
    margin:1.5rem 0;    
    background:#222;
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading span{
    font-size: 2.5rem;
  }

  .contact .contact-info{
    flex-direction: column;
  }
  .contact .card{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }

}
